# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Node (if ever used locally)
node_modules/
npm-debug.log*
